#mapid {
    height: 350px;
}

section {
    width: 100%;
    height: 450px;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: repeat-x;
}

.itemLabel {
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: small;
}

#defaultCanvas0 {
    margin-left: 20%;
    margin-right: 20%;
}